.achievement{
    padding-top: 80px;
}
.acchieve-text{
    margin-top: 13%;
}
.items-1{
     background-image: linear-gradient(to right, #08AFE9,#1CD7BB);
    padding: 15px;
    border-top-right-radius:50px;
    border-bottom-left-radius: 50px;
}
.title-img img{
    width: 55px;
    height: 55px;
    margin-right: 20px;
    
}
.details{
    color:#707070;
    font-weight:bold;
}

.items-2{
    border-top-left-radius:50px;
    border-bottom-right-radius: 50px;
    padding: 15px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.items-4{
    padding: 15px;
    border-top-right-radius:50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
